django

django-storages
boto
-e git+git://github.com/kennethreitz/dj-static.git#egg=dj-static

psycopg2
south
dj-database-url
django-db-pool

pillow
lxml
django-mptt
feedparser

feincms
feincms-elephantblog
beautifulsoup
feincms-cleanse

django-redis

gunicorn
